body
{
    background-color: #EFEFEF;
}
.griddiv
{
    display: grid;
    grid-template-columns: auto auto auto;
}
.lasttwo
{
    display: grid;
    grid-template-columns: auto auto auto; 
}
.planetstitle
{
    font-family: 'Rubik', sans-serif;
}
.title
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    background-color: #E1E0E0;
    padding: 80px;
    text-align: center;
}
.typetext
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    padding:40px;
    text-align: center;
}
.typebutton
{
    text-align: center;
}
.inputbutton
{
    font-size: 20px;
    padding:15px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;

    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.inputbutton:hover 
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}